@use '../global/index' as *;

#home-page {
  position: relative;
  width: 100vw;
  height: 100vh;

  & .mask {
    background-color: #000000;
    opacity: 0.45;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  & .memory {
    height: 100vh;
    position: relative;
    z-index: 1;

    &__frame {
      display: inline-block;
      border: 6px solid #d8d8d8;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      overflow: hidden;
      width: 16.8rem;
      height: auto;
    }

    &__img {
      display: block;
    }
  }

  & .date {
    @include text(
      $font-size: 3.2rem,
      $color: #fff,
      $font-weight: bold,
      $line-height: 2.4rem,
      $letter-spacing: 0.1em
    );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $zIndex-date;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }

  & .loading {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__ttl {
      @include text(
        $font-size: 3.6rem,
        $font-weight: bold,
        $line-height: 9.2rem,
        $letter-spacing: 1rem
      );
      writing-mode: vertical-rl;
    }

    &__img {
      position: absolute;

      &.--pu {
        top: 6rem;
        left: 0;
        width: 15.3rem;
        height: 32.6rem;
      }

      &.--ham {
        top: 9.2rem;
        right: 0;
        width: 8.3rem;
        height: 13.7rem;
      }

      &.--kopu {
        bottom: 0;
        left: 0;
        width: 13.2rem;
        height: 14rem;
      }

      &.--daf {
        bottom: 0;
        right: 0;
        width: 16.7rem;
        height: 16.3rem;
      }
    }
  }
}
