extends ../layouts/index

block content
  main#home-page
    #mask.mask
    #memory.memory
      .memory__mask
    #date.date 2022年03月18日
    //- #loading.loading
    //-   h1.loading__ttl 二年間ありがとう
    //-   img.loading__img.--pu(src='./assets/images/nepu.png')
    //-   img.loading__img.--ham(src='./assets/images/ham.png')
    //-   img.loading__img.--kopu(src='./assets/images/kopu.png')
    //-   img.loading__img.--daf(src='./assets/images/daf.png')
