extends ../layouts/index

block content
  #mask
  main#home-page
    #loading.loading
      h1.loading__ttl 2年間ありがとう
      // ページ固有のスクリプト
      script(src=lottieActivateURL, crossorigin)
      script(src='./assets/js/pages/index.js')
